
$color-primary: #1C1C1BFF;
$color-secondary:#76528BFF;

$color-white:white;

$input-font:'Cairo', sans-serif;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "lato", sans-serif;
}
.page_title{
    background-color: $color-primary;
    text-align: center;
    height: 10vh;
    

    &_h1{
        padding: 2.5vh;
        font: 2rem;
        color: $color-white;
        letter-spacing: 5px;
        animation: moveInTop;
        animation-duration: 1s;
        animation-delay: .5s;
        animation-fill-mode: backwards;
        @media only screen  and (max-width:1330px) {
            &{
            font-size: 1.5rem;                
            }
        }

    }

}

.body_div{
    background-color: $color-primary;
    height:auto;
    width: 80vw;
    margin: auto;
    margin-top: 4vh;
    border-radius: 4px;
    position: relative;
    height: 34vh;
    transition: all .5s ease;


    @media only screen  and (max-width:1330px) {
        &{
            width: 100%;
        }
    }

    
    

    .input_div{
        display: block;
        height: 50vh;
        transition: all .5s ease;



        @media only screen  and (max-width:1330px) {
            &{
                width: 100%;
        transition: all .5s ease;

            }
        }
        

        
            background-color: $color-primary;
            .submit_button{
                color: white;
                background-color: $color-secondary;
                outline: none;
                border: none;
                padding: 10px;
                border-radius: 5px;
                position: absolute;
                right: 20%;
                font-weight: 500;
                font-size: 1.2rem;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

                &:hover{
                    transform: translateY(-1px);
                    transition: all .2s ease;
                    box-shadow:.5px .5px 4px white;

    
                }
                &:active{
                    transform: translateY(0px);
                    transition: all .2s ease;
                }

                @media only screen  and (max-width:1330px) {
                    &{
                        width: 30vw;
                        font-size:.9rem;
                        right: 7%;
                        
                        
                        
                        
                    }
                }

                
    
            }

            .clear-button{
                color: white;
                background-color: $color-secondary;
                outline: none;
                border: none;
                padding: 10px;
                border-radius: 5px;
                position: absolute;
                right: 33%;
                font-weight: 500;
                font-size: 1.2rem;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                

                &:hover{
                    transform: translateY(-1px);
                    transition: all .2s ease;
                    box-shadow:.5px .5px 4px white;

    
                }
                &:active{
                    transform: translateY(0px);
                    transition: all .2s ease;
                }
                @media only screen  and (max-width:1330px) {
                    &{
                        width: 30vw;
                        font-size:.9rem;
                        right:38%;
                        
                        
                        
                        
                    }
                }

    

            }
        
        



        &_title{
            padding: 40px 0px 20px 0;
            font-size: 30px;
            width: 50vw;
            margin: auto;
            animation: moveInLeft;
            animation-duration: 1s;
            @media only screen  and (max-width:1330px) {
                &{
                    width: 90%;
                }
            }

            
            
            

            &_input{
               padding-left:10px;
                width: 50vw;
                height: 4vh;
                font-size: 1.2rem;
                font-family: $input-font;  
                outline: none;
                @media only screen  and (max-width:1330px) {
                    &{
                        width: 100%;
                        margin: auto;
                        height: 5vh;
                        font-size: .8rem;
                    }
                }

                
            }

        }

        &_description{
            padding: 20px 0px 20px 0;
            font-size: 30px;
            width: 50vw;
            margin: auto;
            animation: moveInRight;
            animation-duration: 1s;

            @media only screen  and (max-width:1330px) {
                &{
                    width: 90%;
                }
            }

            &_input{
               width: 50vw;
               height: 10vh;
               font-size: 1.2rem;
               padding-left:10px;
               font-family: $input-font;  
               font-weight: 200;
               outline: none;

               

               @media only screen  and (max-width:1330px) {
                &{
                    width: 100%;
                    margin: auto;
                    font-size: .8rem;
                }
            }




            }
        }
        

    }
    
}

.table_div{
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    transition: all .5s ease;


    @media only screen  and (max-width:1330px) {
        &{
            margin-top: 10vh;
            width: 100%;
            
            
            
        }
    }



    &_table{
        width: 80vw;
        margin: auto;
        position: relative;
        background-color: $color-primary;
        padding: 20px;
        border-radius: 5px;

        @media only screen  and (max-width:1330px) {
            &{
                width: 100%;
                
                
                
            }
        }

        &_head{
            
            &_row{
            
            color: $color-white;
            font-family: $input-font;



                &_data{

                    font-weight: bold;
                    font-style: italic;
                    font-size: 1.5rem;

                    @media only screen  and (max-width:1330px) {
                        &{
                            font-size: 1rem;
                            
                            
                            
                        }
                    }
                    

                    &_button{
                        background-color: $color-secondary;
                        border: none;
                        width: 70px;
                        height: 30px;
                        border-radius: 7px;
                        font-size: 1.1rem;
                        float: right;

                        &:hover{
                            transform: translateY(-1px);
                            box-shadow:1px 1px 5px white;
            
                        }
                        &:active{
                            transform: translateY(0px);
                            transition: all .2s ease;
                        }

                        @media only screen  and (max-width:1330px) {
                            &{
                                font-size: .8rem;
                                
                                
                                
                            }
                        }

                        
                        
                        
                        
                    }
                }
            }
        }
        &_body{

        
        border-top: solid $color-primary 40px;
        color: $color-white;
        font-family: $input-font;
        transition: all 1s ease-in;

        }

    }

    
}

td,tr{
    color: white;
    padding-bottom:10px ;
}

@keyframes moveInLeft{
    from{
        transform: translateX(-30px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveInRight{
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes moveInTop{
    from{
        transform: translateY(-30px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}